 
<router-outlet></router-outlet>

<!-- <nz-layout class="layout">
<nz-sider>
  <div class="logo">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUp_0L8-QK3NDVL8TBqO9yR4CIms-pbfEq6g&s"
          alt="Avatar" class="avatar">
          <strong>Souhir</strong>
  </div>

  <ul nz-menu class="nz-theme" nzMode="inline">

    <li nz-menu-item routerLink="/">
      <span nz-icon nzType="dashboard"></span>
      <span>Dashboard</span>
    </li>

    <li nz-menu-item routerLink="/revenu">
      <span nz-icon nzType="fund"></span>
      <span>Revenu</span>
    </li>

    <li nz-menu-item routerLink="/depense">
      <span nz-icon nzType="fall"></span>
      <span>Dépense</span>
    </li>


  </ul>
</nz-sider>
<nz-layout class="right-layout">
  <nz-content>
    <div class="inner-content">
      
    </div>
  </nz-content>
</nz-layout>
</nz-layout> -->