<div>
    <div nz-row>
        <div nz-col nzFlex="2">
            <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="Post depense">
                <form nz-form [formGroup]="depenseForm" (ngSubmit)="submitForm()" class="custom-form">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="champs obligatoire ">
                            <input type="text" nz-input formControlName="titre" placeholder="entrer le titre" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzErrorTip="champs obligatoire  ">
                            <input type="number" nz-input formControlName="montant" placeholder="entrer le montant" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzErrorTip="champs obligatoire  ">
                            <nz-date-picker style="width: 100%;" formControlName="date">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control>
                            <textarea nz-input placeholder="champs obligatoire "
                                        [nzAutosize]="{minRows:2,maxRows:6}"
                                        formControlName="description"></textarea>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nzErrorTip="champs obligatoire  ">
                        <nz-form-control>
                            <nz-select nzAllowClear nzPlaceHolder="Selectionner la categorie" formControlName="categorie">
                                <nz-option *ngFor="let categorie of listOfCategorie" [nzLabel]="categorie" [nzValue]="categorie">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <button nz-button nzType="primary" nzBlock [disabled]="depenseForm.invalid" class="w-100">
                        Ajouter depense
                    </button>
                </form>
            </nz-card>

        </div>

        <div nz-col nzFlex="3" style="margin-left: 20px;">
            <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="Historique de dépenses">
                <div nz-card-grid style="width: 100%;" *ngFor="let depense of depenses">
                    <div nz-row>
                        <div nz-col nzSpan="18">
                            <span nz-icon nzType="message" nzTheme="outline"></span>{{depense.titre}}
                            -
                            <span nz-icon nzType="dollar" nzTheme="outline"></span>{{depense.montant}}
                            -
                            <span nz-icon nzType="clock-circle" nzTheme="outline"></span>{{depense.date}}
                            -
                            <span nz-icon nzType="comment" nzTheme="outline"></span>{{depense.categorie}}
                        </div>
                        <div nz-col nzSpan="6" style="font-size: 15px;">
                            <span nz-icon nzType="edit" nzTheme="fill" style="color:rgb(30, 30, 143)" (click)="updateDepense(depense.id)" ></span>
                            <span nz-icon nzType="delete" nzTheme="fill" style="color:red;" (click)="deleteDepense(depense.id)"></span>
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
    </div>
</div>